
<h1><%= @hospital.name %></h1>
    <div class="doctors_link">
    <a href="/doctors">All Doctors</a>
    </div> 
<p>Public Hospital: <%= @hospital.public %></p>
<p>Phone: (303) <%= @hospital.phone %></p>
<p>Location City: <%= @hospital.location %></p>
<p>Total Doctors: <%= @hospital.doctor_count%></p>



<h3>
<% @doctors.each do |doctor| %>
<p><%= link_to doctor.name, "/doctors/#{doctor.id}"%></p>
<% end %>
<h3>

